@import url(http://fonts.googleapis.com/css?family=Roboto);



.demo {
  display: inline-block;
  width: 24%;
  padding: 10px;
  box-sizing: border-box;
}
.demo textarea {
  box-sizing: border-box;
  font-family: "Roboto";
  font-size: 0.9em;
  height: 32px;
  padding: 6px 0px;
  resize: none;
  text-align: center;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}



*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}

:root{
	--bg-color: #546272;
	--text-color: #fff;
	--main-color: #909090;
	--second-color: gray;
	--other-color: #12141c;
	--h1-font: 5.2rem;
	--h2-font: 3.5rem;
	--p-font: 1.1rem;
}
body{
	background: var(--bg-color);
	color: var(--text-color);
}

.subHeader{
	width: 100%;
	height: 3rem;
	background: rgb(164, 164, 164)(255, 255, 255);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.subHeader_col1{
	display: flex;
	flex-direction: row;
}

.subHeader_col1 a{
	color: white;
	margin-left: 0;
	margin-right: 2rem;
}

.subHeader_col2 li{
	display: flex;
}
.subHeader_col2 li i{
	margin-right: 1rem;
}
.subHeader_col2 li a{
	color: white;
}

header{
	position: fixed;
	right: 0;
	top: 0;
	margin-top: 4rem;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 22px 16%;
	border-bottom: 1px solid transparent;
	transition: all .40s ease;
}
/* modificacion 7/1  */
.logo img{
	width: 200px;
	height: auto;
}
.navbar{
	display: flex;
}
.navbar a{
	color: var(--second-color);
	font-size: var(--p-font);
	font-weight: 600;
	padding: 10px 25px;
	margin: 0 2px;
	border-radius: 0.5rem;
	transition: all .40s ease;
}
.navbar a:hover{
	background: var(--main-color);
	color: var(--text-color);
}
#menu-icon{
	font-size: 36px;
	color: var(--text-color);
	z-index: 10001;
	cursor: pointer;
	display: none;
}

section{
	padding: 160px 16% 90px;
}


/* fin header */





.home{
	height: 100vh;
	width: 105%;
	position: relative;
	background: url(../img/background.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.home::after {
  content: '';
  position: absolute;
  width: 100%; /* Ajusta el ancho para que coincida con el contenedor */
  height: 100vh; /* Ajusta la altura para que coincida con el contenedor */
  background: rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 2;
}
.home-text{
  z-index: 3;
  margin-right: 5rem;
}
.home-text ul{
  width: 20rem;
  margin-top: -2rem;
  margin-bottom: 2rem;
}
/* --------------------------------------------------------------- */
.home-webs{
	width: 40rem;
	height: 30rem;
	background: transparent;
	z-index: 9;
	display: flex;
	position: relative;
	overflow: hidden;
}

.slider img {
	height: 100%;
	width: 100%;
	display: none;
	object-fit: cover;
	border-radius: 10px;
}

img.displaySlide{
	display: block;
	animation-name: fade;
	animation-duration: 2s;
}

.prev{
	position: absolute;
	left: 0;
	height: 100%;
	width: 50%;
	background: transparent;
	border: none;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color:rgba(255, 255, 255, 0.5);
	cursor: pointer;
}

.next{
	position: absolute;
	right: 0;
	height: 100%;
	width: 50%;
	background: transparent;
	border: none;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	color:rgba(255, 255, 255, 0.5);
	cursor: pointer;
}


@keyframes fade{
	0%{opacity: 0;}
	10%{opacity: .2;}
	100%{opacity: 1;}
}
/* --------------------------------------------------------------------- */

.check{
  margin-right: 0.5rem;
}
.home-text ul li{
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  width: 30rem;
}
.home-text h1{
	margin: 20px 0;
	font-size: var(--h1-font);
	font-weight: bold;
	line-height: 1.1;
	letter-spacing: 2px;
}

span{
	color: var(--main-color);
}
.home-text h4{
	color: var(--main-color);
	font-size: 20px;
	font-weight: 600;
}
.home-text h3{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 3rem;
}

.btn{
	display: inline-block;
	padding: 14px 40px;
	border-radius: 0.5rem;
	font-size: 17px;
	font-weight: 500;
	background: var(--main-color);
	color: var(--text-color);
	border: 1px solid var(--main-color);
	transition: all .40s ease;
}
.btn:hover{
	transform: scale(1.01) translateY(-5px);
	background: transparent;
	border: 1px solid var(--main-color);
}

/* -------------------------- */
/* FIN HOME */
/* -------------------------- */

header.sticky{
	padding: 10px 16%;
	background: var(--bg-color);
	/* border-bottom: 1px solid #0e1630; */
	margin-top: 0rem;
}






/* inicio about */

.about{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2rem;
}
.about-text h4{
	margin: 10px 0;
	color: var(--main-color);
	font-size: 20px;
	font-weight: 600;
}
.about-text h2{
	font-size: var(--h2-font);
}
.about-text p{
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 30px;
	margin-bottom: 2rem;
}
.about-gri{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	align-items: center;
	gap: 1rem;
	margin-bottom: 3rem;
}
.about-in h5{
	font-size: 22px;
	font-weight: 600;
}
.about-img img{
	height: auto;
	width: 100%;
	max-width: 460px;
	border-radius: 10px;
	
}
/* fin about */





/* inicio service */

.main-text{
	text-align: center;
}
.main-text h2{
	font-size: var(--h2-font);
	margin-bottom: 10px;
}
.main-text h4{
	color: var(--main-color);
	font-size: 24px;
	font-weight: 600;
}
.services-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	align-items: center;
	text-align: center;
	gap: 2rem;
	margin-top: 5rem;
}
.contentbox{
	color: #fff;
}
.box{
	padding: 45px;
	background: #12141c;
	border-top: 5px solid transparent;
	/* border-radius: 0.5rem; */
	border-radius: 50%;
	transition: all .40s ease;
	cursor: pointer;
	width: 240px;
}
.box h3{
	font-size: 24px;
	font-weight: 600;
	margin: 15px 0;
	transition: all .40s ease;
}
.box p{
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 30px;
}
.box:hover{
	transform: scale(1.01) translateY(-5px);
	border-top: 5px solid var(--main-color);
}
.box:hover h3{
	color: var(--main-color);
}









.portfolio-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	align-items: center;
	gap: 2rem;
	margin-top: 5rem;
}
.row img{
	height: auto;
	width: 100%;
	border-radius: 0.5rem;
	margin-bottom: 1.5rem;
}
.row{
	padding: 25px;
	background: #12141c;
	border-radius: 0.5rem;
	transition: all .40s ease;
}
.main-row{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
}
.row h3{
	font-size: 25px;
	font-weight: 700;
}
.row h6{
	color: var(--main-color);
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
}
.row-icon i{
	font-size: 21px;
}
.row:hover{
	transform: scale(1.01) translateY(-5px);
	cursor: pointer;
}






.contact{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 3rem;
}
.contact-text h4{
	margin: 15px 0;
	color: var(--main-color);
	font-size: 20px;
	font-weight: 600;
}
.contact-text h2{
	font-size: var(--h2-font);
}
.contact-text p{
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 30px;
	margin-bottom: 2rem;
}
.contact-list{
	margin-bottom: 3rem;
}
.contact-list li{
	margin-bottom: 10px;
	display: block;
}
.contact-list li a{
	display: block;
	color: var(--second-color);
	font-size: var(--p-font);
	font-weight: 600;
	transition: all .40s ease;
}
.contact-list li a:hover{
	transform: scale(1.01) translateY(-5px);
	color: var(--main-color);
}
.contact-icons i{
	height: 40px;
	width: 40px;
	background: #12141c;
	border-radius: 0.5rem;
	color: var(--main-color);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	margin-right: 10px;
	transition: all .40s ease;
}
.contact-icons i:hover{
	transform: scale(1.01) translateY(-5px);
	color: var(--text-color);
	background: var(--main-color);
}

.contact-form form{
	position: relative;
}
.contact-form form input,
form textarea{
	border: none;
	outline: none;
	width: 100%;
	padding: 18px;
	background: #12141c;
	color: var(--text-color);
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
	border-radius: 0.5rem;
}
.contact-form textarea{
	resize: none;
	height: 220px;
}
.contact-form form .send{
	display: inline-block;
	font-size: 17px;
	font-weight: 500;
	background: var(--main-color);
	color: var(--text-color);
	width: 190px;
	transition: all .40s ease;
	cursor: pointer;
}

.last-text p{
	text-align: center;
	padding: 15px;
	color: var(--second-color);
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 1px;
}
.top{
	position: fixed;
	bottom: 2.1rem;
	right: 2.1rem;
  z-index: 99;
}
.top i{
	color: var(--text-color);
	background: var(--main-color);
	font-size: 20px;
	padding: 10px;
	border-radius: 0.5rem;
}




@media (max-width: 1325px){

	header{
		/* margin-top: 0; */
		padding: 16px 3%;
	}
	header.sticky{
		padding: 8px 3%;
	}
	section{
		padding: 130px 3% 60px;
	}
/* ------------------------------------------------------------------------------- */
	.home, .home::after{
		flex-direction: column;
		height: 200vh;
		text-align: center;
		justify-content: space-evenly;
	}
	.home-text{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.home-webs{
		width: 90%;
		display: flex;
		justify-content: center;
		align-items: center;
	}


	.services-content{
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 970px){
	:root{
		--h1-font: 4.2rem;
	  --h2-font: 2.9rem;
	  --p-font: 1rem;
	}
	.subHeader{
		display: none;
	}
	header{
		margin-top: 0;
		width: 100%;
		position: fixed;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}
	section{
		padding: 70px 3% 60px;
	}

	/* -----------------------------------------------2 */
	.home{
		height: 200vh;
		justify-content: space-evenly;
		align-items: center;
		width: 120%;
	}
	header.sticky{
		margin-top: 2rem; /*  2rem */
	}
	.home-text{
		margin-bottom: -10rem;
		width: 110%;
	}
	.home-webs{
		width: 110%;
	}
	.about{
		grid-template-columns: 1fr;
	}
	.about-img{
		text-align: center;
	}
	.contact{
		grid-template-columns: 1fr;
	}
}

@media (max-width: 830px){
	#menu-icon{
		display: block;
	}
	.navbar{
		position: absolute;
		top: -600px;
		right: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		background: #12141c;
		text-align: left;
		transition: all .40s ease;
	}
	.navbar a{
		display: block;
		padding: 1rem;
		margin: 1rem;
	}
	.navbar.active{
		top: 100%;
	}
	:root{
		--h1-font: 3.7rem;
	  --h2-font: 2.7rem;
	}
}